 <%= form_for @user, :html => {:multipart => true} do |f| %>

    <%= f.text_field :first_name, :autofocus => true, placeholder: 'First Name', class: 'field' %>
    <%= f.text_field :last_name, placeholder: 'Last Name', class: 'field'%>
    <%= f.email_field :email, placeholder: 'Email', class: 'field'%>
    <%= f.password_field :password, placeholder: 'Password', class: 'field'%>
    <%= f.password_field :password_confirmation, placeholder: 'Re-enter Password', class: 'field'%>

    <h4>Profile Info:</h4>

    <%= f.file_field :image %>
    <%= f.text_area :description, placeholder: 'Tell us a little about yourself...' %>
    <%= f.collection_select(:neighborhood_id, @neighborhoods, :id, :name, :include_blank => "Neighborhood") %>
    <%= f.submit "Submit" %>

<% end %>
