<div class="home">
	<div class="head">
		<%= image_tag("jamsession.png") %>
	</div>
	<div class="neighborhoods">
		<h2>Pick Your Neighborhood</h2>
		<p>Find local musicans and places to jam at in Chicago</p>
		<div class="row">
		<%= link_to(image_tag("rog.jpg"), "/rogers-park") %>
		<%= link_to(image_tag("bucktown.jpg"), "/bucktown") %>
		</div>
		<div class="row">
			<%= link_to(image_tag("goodloop.jpg"), "/south-loop") %>
			<%= link_to(image_tag("lakev.jpg"), "/lakeview") %>
		</div>
		<div class="row">
			<%= link_to(image_tag("hpark.jpg"), "/hyde-park") %>
			<%= link_to(image_tag("rivernorth.jpg"), "/river-north") %>
		</div>
	</div>
</div>