<div class="neighborhood_container">
  <div class="main-title"></div>
      <h1>Musicians available in <%= @neighborhood.name %></h1>

  <div class="image-grid">
    <ul class="small-block-grid-5">
      <li><%= image_tag('guitar.png') %></li>
      <li><%= image_tag('microphone.png') %></li>
      <li><%= image_tag('sax.png') %></li>
      <li><%= image_tag('drum.png') %></li>
      <li><%= image_tag('cowbell.png') %></li>
    </ul>
  </div>

</div>
<div class="list-container">
  <% @neighborhood.users.each do |user| %>
    <div class="mini-user-profile-container">
      <div class="profile-pic"><%=image_tag('user.img_url') %></div>
      <%= user_instruments.each do |user_inst|%>
        <div class="instruments-played">
          <% @user.user_instruments.each do |user_ins|  %>
        <li>
          <%= image_tag(user_ins.instrument.icon) %>
          <%= user_ins.skill_level %>
          <%= user_ins.genre_list.each do |genre| %>
            <%= genre %>
          <% end %>

        </li><% @user.user_instruments.each do |user_ins|  %>
        <li>
          <%= image_tag(user_ins.instrument.icon) %>
          <%= user_ins.skill_level %>
          <%= user_ins.genre_list.each do |genre| %>
            <%= genre %>
          <% end %>

        </li>
        </div>

      <div class=""></div>  
    </div>
      <% end %>
  <% end %>


</div>



