<div class="neighborhood_container">
  <div class="main-title"></div>
      <h1>Musicians available to jam in <%= @neighborhood.name %></h1>

  <div class="image-grid">
    <ul class="small-block-grid-5">
      <li class="guitar"><%= image_tag('guitar.png') %></li>
      <li class="microphone"><%= image_tag('microphone.png') %></li>
      <li class="drum"><%= image_tag('drum.png') %></li>
      <li class="cowbell"><%= image_tag('cowbell.png') %></li>
      <li class="sax"><%= image_tag('sax.png') %></li>
    </ul>
  </div>
</div>

<!-- add a filters class with two dropdowns or two buttons that sort by skill level and genre -->
  
  <div class="list-container">
    <% @neighborhood.users.each do |user| %>
    <%= link_to user_path(user) do %>
    <div class="profile-row">
          <div class="profile-pic"><li><%=image_tag(user.image.url(:thumb).to_s) %></li></div>
          <div class="name"><li><%= user.first_name %> <%= user.last_name %></li></div>

            <% user.user_instruments.each do |user_ins|  %>

           <div class="instrument"><li><%= image_tag(user_ins.instrument.icon) %></li>
        <div class="skills"><li>Skill Level: <%= user_ins.skill_level %> </li>
          </div>
           <% user_ins.genre_list.each do |genre| %>
            <li>Genre: <%= genre %></li></div>
            <% end %>
          <% end %>
    </div>
    <% end %>
    <% end %>
  </div>





