<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "JamSession" %></title>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation/foundation.js"></script>
    <script src="js/foundation/foundation.orbit.js"></script>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <header>

    <nav>
    <div class="fixed">
    <nav class="top-bar">
      <div class="right">
        <ul>
        <% if logged_in? %>
            <div class="small-2 columns signup">
            <div class="small-2 columns">
              <%= link_to "Profile", current_user %>
            </div>
            <div class="small-2 columns">
              <%= link_to "Logout", logout_path %>
            </div>
        <% else %>
            <%= form_for(:user, :url => {:controller => 'sessions', :action => 'login'}) do |f| %>
              <div class="small-3 columns">
                <%= link_to "Sign Up", new_user_path, :class => "signup" %>
              </div>
              <div class="small-4 columns">
                <%= f.email_field :email, :autofocus => true,:value => nil, placeholder: 'email' %>
              </div>
              <div class="small-4 columns">
                <%= f.password_field :password, :autofocus => true, placeholder: 'password' %>
              </div>
              <div class="small-1 columns">
                <%= f.submit 'Sign In' %>
              </div>
            <% end %>
        <% end %>
        </ul>
      </div>
    </nav>
    </div>
  </header>
    <%= yield %>
  </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
