<!DOCTYPE html>
<html>
<head>
  <title>JamSession</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
    <div class="fixed">
    <nav class="top-bar">
      <div class="right">
        <ul>
        <% if logged_in? %>
            <div class="small-2 columns signup">
              <%= link_to "Profile", current_user %>
            </div>
            <div class="small-2 columns">
              <%= link_to "Logout", logout_path %>
            </div>
        <% else %>
            <%= form_for(:user, :url => {:controller => 'sessions', :action => 'login'}) do |f| %>
              <div class="small-3 columns">
                <%= link_to "Sign Up", new_user_path, :class => "signup" %>
              </div>
              <div class="small-4 columns">
                <%= f.email_field :email, :autofocus => true,:value => nil, placeholder: 'email' %>
              </div>
              <div class="small-4 columns">
                <%= f.password_field :password, :autofocus => true, placeholder: 'password' %>
              </div>
              <div class="small-1 columns">
                <%= f.submit 'Sign In' %>
              </div>
            <% end %>
          </div>
      <% end %>
      </ul>
    </nav>
  </header>

<%= yield %>

</body>
</html>


